<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ siteTitle }} ➞ [ {{ title }} ]</title>

    <meta name="description" content="{{ metaDescription }}">
    <meta name="robots" content="noodp,noydir">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msvalidate.01" content="{{ tools.keyBingWebmasterTools }}">
    <meta name="google-site-verification" content="{{ tools.keyGoogleSearchConsole }}">

    <link rel="canonical" href="{{ buildPath }}{{ slug }}">
    <link rel="manifest" href="{{ buildPath }}site.webmanifest">
    <link rel="shortcut icon" href="{{ buildPath }}favicon.ico">
    <link rel="apple-touch-icon" href="{{ buildPath }}touch.png">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ siteTitle }} »{{ title }}«">
    <meta property="og:description" content="{{ metaDescription }}">
    <meta property="og:url" content="{{ buildPath }}{{ slug }}">
    <meta property="og:site_name" content="{{ siteTitle }}">
    <meta property="og:image" content="{{getAny image hero.imgUrlSrc }}">

    <link rel="stylesheet" href="{{ buildPath }}static/css/{{ styleFile }}">

    <!-- Do not wait for the Google Fonts stylesheet to load before rendering the page. -->
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700"
        media="void"
        onload="if (media !== 'all') media='all'"
        >
        <noscript>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700">
        </noscript>
</head>
