[submodule "themes/blue-penguin"]
	path = themes/blue-penguin
	url = https://github.com/davidtimmons/blue-penguin.git
[submodule "plugins/deadlinks"]
	path = plugins/deadlinks
	url = https://github.com/silentlamb/pelican-deadlinks.git
