<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ siteTitle }} »{{ title }}«</title>

    <meta name="description" content="{{ description }}">
    <meta name="robots" content="noodp,noydir">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msvalidate.01" content="{{ keyBingWebmasterTools }}">
    <meta name="google-site-verification" content="{{ keyGoogleSearchConsole }}">

    <link rel="canonical" href="{{ rootPath }}{{ slug }}">
    <link rel="manifest" href="{{ rootPath }}site.webmanifest">
    <link rel="shortcut icon" href="{{ rootPath }}favicon.ico">
    <link rel="apple-touch-icon" href="{{ rootPath }}touch.png">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ siteTitle }} »{{ title }}«">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ rootPath }}{{ slug }}">
    <meta property="og:site_name" content="{{ siteTitle }}">
    <meta property="og:image" content="{{ imagePath }}{{ image }}">

    <link rel="stylesheet" href="{{ rootPath }}static/css/normalize.css">
    <link rel="stylesheet" href="{{ rootPath }}static/css/main.css">
</head>
