/*! David Timmons Website | http://david.timmons.io | April 2019 */

/* ==========================================================================
   Frameworks
   ========================================================================== */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ==========================================================================
   Global Styles
   ========================================================================== */
*,
*:after,
*:before {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

::selection {
    background: #6DC9C7;
    color: #ffffff;
    text-shadow: none;
}

body {
    font: 400 17px/2.000 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #000000 repeat url('../images/timmons-logo-pattern.png');
}

a:focus {
    outline:0;
}

a:hover,
a:active {
    outline:0;
}

input:focus {
    outline:0;
    border: 1px dotted #6DC9C7;
}

p {
    margin-top: 16px;
    margin-bottom: 16px;
}


/* ==========================================================================
   Custom Styles
   ========================================================================== */

/* Global */

a { @apply no-underline text-aqua; }
a:hover { @apply text-purple; }

/* Utilities */

.bg-clear-dark { background-color: rgba(0, 0, 0, 0.5); }
.bg-img-hero { background-image: url("/static/images/circuit-board-circuits-components.jpg"); }
.bg-img-portrait { background-image: url("/static/images/david-timmons.jpg"); }
.filter-shadow-dark { filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.08)); }
.mixin\:text-headline { @apply block font-bold lowercase -mt-2 text-purple tracking-wider; }
.text-clear-light { color: rgba(255, 255, 255, 0.55); }
.text-shadow-dark { text-shadow: 0 0 1px rgba(0, 0, 0, 0.08); }
.text-shadow-darker { text-shadow: 0 1px 6px rgba(0, 0, 0, 0.9); }

@responsive {
    .bg-img-pattern { background-image: url("/static/images/timmons-logo-pattern.png"); }
    .clip-none { clip-path: none; }
    .clip-circle { clip-path: circle(50% at 50% 50%); }
    .clip-parallelogram { clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%); }

    ul.list-custom-clear-light li::before { color: rgba(255, 255, 255, 0.55); }
    ul.list-custom li { display: block; }
    ul.list-custom li::before {
        content: "•";
        display: inline-block;
        margin-right: 0.5rem;
    }
    ul.list-custom-inline li { display: inline-block; }
    ul.list-custom-inline li:first-child::before { display: none; }
    ul.list-custom-inline li + li::before {
        content: "•";
        display: inline-block;
        margin: 0 0.5rem 0 0.25rem;
    }
}

/* Animations */

@keyframes cursor-blink {
    50% { border-right-width: 0px; }
    100% { border-right-width: 1px; }
}

@keyframes heartbeat {
    50% { transform: scale(1.04); }
    100% { transform: scale(1.0); }
}

@keyframes heartbeat-lg {
    50% { transform: scale(1.1); }
    100% { transform: scale(1.0); }
}

@keyframes wiggle {
    20% { transform: translateX(-2px); }
    40% { transform: translateX(2px); }
    60% { transform: translateX(-1px); }
    80% { transform: translateX(1px); }
}

@variants group-hover, hover {
    .ani-cursor-blink { animation: cursor-blink 1.2s linear 0s infinite; }
    .ani-heartbeat { animation: heartbeat 0.2s ease-in; }
    .ani-heartbeat-lg { animation: heartbeat-lg 0.2s ease-in; }
    .ani-pause { animation-play-state: paused; }
    .ani-play { animation-play-state: running; }
    .ani-wiggle { animation: wiggle 0.7s ease-in; }
}

.ani-fill-both { animation-fill-mode: both; }
.ani-will-change { will-change: transform; }
.mixin\:ani-heartbeat { @apply ani-pause ani-fill-both; }
.mixin\:ani-heartbeat:hover { @apply ani-play ani-heartbeat; }
.mixin\:ani-heartbeat-lg { @apply ani-pause ani-fill-both; }
.mixin\:ani-heartbeat-lg:hover { @apply ani-play ani-heartbeat-lg; }
.mixin\:ani-wiggle { @apply ani-pause ani-fill-both; }
.mixin\:ani-wiggle:hover { @apply ani-play ani-wiggle; }
.t-width { transition: width 0.5s ease-in-out; }


/* ==========================================================================
   Print Styles

   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
