<!doctype html>
<html class="no-js" lang="en-US" prefix="og:http://ogp.me/ns#">

    {{> head }}

    <body class="page {{ slug }}">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {{> header }}

        <main
            class="mt-6 text-shadow-dark"
            role="main"
            >
            <!-- Awesome image by Fancycrave.com (https://www.pexels.com/photo/green-and-black-computer-motherboard-825258/) -->
            <section class="bg-cover bg-img-hero">
                <div class="mixin:page-layout">
                    <div class="flex flex-col h-screen justify-center">
                        <div class="-ml-6 text-0">
                            <div class="bg-clear-dark px-6 font-bold inline-block leading-snug m-0 rounded-lg text-xs text-aqua text-shadow-darker tracking-wider sm:leading-normal sm:truncate lg:text-base">
                                I'm a full-Stack, quality-oriented, design-loving, entrepreneurial, well-rounded
                            </div>
                            <br>
                            <div class="mt-1 text-base">
                                <div class="bg-dark-tar inline-block -ml-1 px-6 rounded-lg text-3/5 truncate sm:text-full lg:text-3/2">
                                    <h1 class="relative font-bold font-mono leading-tight select-none text-dark-concrete text-r5xl tracking-tight whitespace-no-wrap">
                                        software engineer <span style="top: calc(50% - 0.5em);" class="absolute ani-cursor-blink border-aqua h-r4 ml-1"></span>
                                    </h1>
                                <div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="bg-dark-tar border-b border-t border-dark-coal my-1">
                    <div class="mixin:page-layout">
                        <h2 class="font-bold font-mono leading-none lowercase my-2 select-none text-4xl text-aqua tracking-wide">
                            {{ title }}
                        </h2>
                    </div>
                </div>
                <article class="bg-dark-street py-4 text-dark-concrete">
                    <div class="mixin:page-layout">
                        {{{ contents }}}
                    </div>
                </article>
            </section>
        </main>

        {{> footer }}

        {{> scripts-footer }}

    </body>
</html>
