<!-- header -->
<header
    class="bg-dark-concrete border-t-8 border-purple fixed shadow top-0 w-full z-50"
    role="banner"
    >
    <div class="mixin:page-layout">
        <div class="flex py-1">

            <!-- logo -->
            <div class="flex-shrink-0 mr-4 -ml-1 w-40">
                <a
                    href="{{ buildPath }}"
                    title="Definitely probably not working on an AI that can enslave the human race."
                    >
                    <img
                        class="mixin:ani-heartbeat -mt-2"
                        src="{{ imagePath }}timmons-logo.svg"
                        alt="Logo"
                        >
                </a>
            </div>

            <div class="flex-grow flex items-center justify-end">
                <!-- nav -->
                <nav role="navigation">
                    <ul class="whitespace-no-wrap">
                        <li
                            id="menu-item-1"
                            class="inline-block mr-2 text-base"
                            >
                            <a
                                class="hover:text-aqua text-purple"
                                href="{{ buildPath }}blog/"
                                >
                                Blog
                            </a>
                        </li>
                        <li
                            id="menu-item-2"
                            class="inline-block text-base"
                            >
                            <a
                                class="hover:text-aqua text-purple"
                                href="{{ buildPath }}site-map/"
                                >
                                Site map
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- search -->
                <form
                    class="hidden md:inline-block md:ml-6"
                    onsubmit="searchDuckDuckGo()"
                    action="javascript:void(0)"
                    role="search"
                    >
                    <div class="text-0 whitespace-no-wrap t-width">
                        <input
                            id="search-input"
                            class="bg-dark-street pl-3 rounded-l-full text-sm text-dark-concrete text-shadow-dark t-width w-28 focus:w-56 hover:w-56"
                            type="search"
                            name="q"
                            placeholder="search here..."
                            >
                        <button
                            class="bg-dark-coal border-dark-concrete border-l lowercase px-2 rounded-r-full text-sm hover:text-aqua text-dark-concrete text-shadow-dark"
                            type="submit"
                            role="button"
                            >
                            Search
                        </button>
                    </div>
                </form>

                <!-- social -->
                <div class="hidden ml-6 xs:flex-shrink-0 xs:flex xs:items-center">
                    <div class="mr-3 text-0">
                        <a
                            href="{{ social.github }}"
                            title="David Timmons on GitHub"
                            target="_blank"
                            >
                            <img
                                class="mixin:ani-heartbeat-lg min-w-8 w-8"
                                src="{{ imagePath }}github-mark.svg"
                                alt="My GitHub"
                                >
                        </a>
                    </div>
                    <div class="text-0">
                        <a
                            href="{{ social.linkedin }}"
                            title="David Timmons on LinkedIn"
                            target="_blank"
                            >
                            <img
                                class="mixin:ani-heartbeat-lg min-w-8 w-8"
                                src="{{ imagePath }}linkedin-mark.svg"
                                alt="My LinkedIn"
                                >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        /**
         * This function uses DuckDuckGo to search this website for text content.
         */
        function searchDuckDuckGo() {
            var input = document.getElementById("search-input");
            if (input && input.value) {
                var searchString = encodeURIComponent(input.value).replace('%20', '+');
                var query = [encodeURIComponent('site:{{ host }}'), searchString].join('+');
                window.location.href = 'https://duckduckgo.com/?q=' + query;
            }
        }

        // Add a special CSS class to the navigation menu item for the current page.
        var pageTitle = document.title.toLowerCase();
        var activeClass = ' current-menu-item current_page_item';

        if (pageTitle.indexOf('blog') >= 0) {
            document.getElementById('menu-item-1').className += activeClass;
        } else if (pageTitle.indexOf('site map') >= 0) {
            document.getElementById('menu-item-2').className += activeClass;
        }
    </script>
</header>
