<!-- header -->
<header role="banner">
    
    <!-- profiles -->
    <div id = "header-profile">

        <!-- logo -->
        <div class="logo">
            <a href="{{ buildPath }}" title="Definitely probably not working on an AI that can enslave the human race." class="logo-img">
                <img src="{{ imagePath }}timmons-logo.svg" alt="Logo">
            </a>
        </div>

        <!-- social -->
        <div id="header-social" class="clearfix">
            <a href="{{ social.github }}" title="David Timmons on GitHub" target="_blank" class="github">
                <img src="{{ imagePath }}github-mark.svg" alt="My GitHub">
            </a>
            <a href="{{ social.linkedin }}" title="David Timmons on LinkedIn" target="_blank">
                <img src="{{ imagePath }}linkedin-mark.svg" alt="My LinkedIn">
            </a>
        </div>

    </div>
    <!-- /profiles -->

    <!-- search -->
    <script>
        function searchDuckDuckGo() {
            var input = document.getElementById("search-input");
            if (input && input.value) {
                var searchString = encodeURIComponent(input.value).replace('%20', '+');
                var query = [encodeURIComponent('site:{{ host }}'), searchString].join('+');
                window.location.href = 'https://duckduckgo.com/?q=' + query;
            }
        }
    </script>

    <form class="search-form" onsubmit="searchDuckDuckGo()" action="javascript:void(0)" role="search">
        <input id="search-input" type="search" name="q" placeholder="search here..."><button class="search-submit" type="submit" role="button">Search</button>
    </form>

    <!-- nav -->
    <nav class="nav shadow" role="navigation">
        <ul>
            <li id="menu-item-1" class="menu-item menu-item-type-post_type menu-item-object-page page_item">
                <a href="{{ buildPath }}projects/">Projects</a>
            </li>
            <li id="menu-item-2" class="menu-item menu-item-type-post_type menu-item-object-page page_item">
                <a href="{{ buildPath }}blog/">Blog</a>
            </li>
            <li id="menu-item-3" class="menu-item menu-item-type-post_type menu-item-object-page page_item">
                <a href="{{ buildPath }}site-map/">Site map</a>
            </li>
        </ul>
    </nav>

    <script>
        // Add a special CSS class to the navigation menu item for the current page.
        var pageTitle = document.title.toLowerCase();
        var activeClass = ' current-menu-item current_page_item';

        if (pageTitle.indexOf('projects') >= 0) {
            document.getElementById('menu-item-1').className += activeClass;
        } else if (pageTitle.indexOf('blog') >= 0) {
            document.getElementById('menu-item-2').className += activeClass;
        } else if (pageTitle.indexOf('site map') >= 0) {
            document.getElementById('menu-item-3').className += activeClass;
        }
    </script>

</header>
