<div class="hero text-center text-xs">
    <div class="">
        <div class="bg-img-pattern mb-2 rounded-lg">
            <img
                class="border-purple border-b-4 inline-block rounded-lg"
                alt="{{ hero.imgAlt }}"
                src="{{ hero.imgUrlSrc }}"
                srcset="{{ hero.imgUrlSrc }} 648w"
                sizes="(max-width: 648px) 100vw, 648px"
                >
        </div>
        <p class="leading-tight m-0 mb-2 text-purple">
            {{ hero.creditText }}
            <a href="{{ hero.creditUrlSrc }}"
            title="{{ hero.creditUrlTitle }}">
            {{ hero.creditUrlText }}
            </a>.
        </p>
        <p class="font-bold leading-tight m-0 text-purple-lilac">
            {{{ hero.caption }}}
        </p>
    </div>
</div>
